@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

h1, h2, h2, h3, h4, h5, h6, p, ul {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.hamburger-menu {
  display: none;
}

.line {
  margin-top: 28px;
  width: auto;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}

.menu__btn {
  position: absolute;
  top: 50px;
  width: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.4s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  transition-duration: 0.25s;
}

.menu__item:hover {
  background-color: gray;
}

.header__row {
  display: flex;
  justify-content: space-between;
}
.header__rom {
  display: flex;
  align-items: flex-end;
}
.header__icons {
  display: flex;
  align-items: flex-end;
  width: auto;
}
.header__item {
  margin-right: 18px;
}
.header__item-1 {
  margin-right: 18px;
}
.header__phone {
  margin-left: 13px;
}
.header__book {
  margin: 12px 40px 0px 0px;
}
.header__subsections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.header__wrapper {
  display: flex;
  gap: 35px;
  margin-left: 160px;
}
.header__list {
  display: flex;
  gap: 36px;
}
.header__language {
  display: flex;
  gap: 23px;
}
.header__info {
  font-weight: 400;
  font-size: 18px;
  color: #887569;
}
.header__compound {
  font-weight: 400;
  font-size: 16px;
  color: #A7A7A7;
  margin: 42px 16px 0px 0px;
}
.header__catalog {
  display: flex;
}
.header__book {
  width: 96px;
  height: 52px;
}
.header__clone {
  width: 18px;
  height: 18px;
  display: none;
}
.header__option {
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.menu__item {
  border-top: 1px solid #CDCDCD;
}

@media screen and (max-width: 1203px) {
  .container {
    padding: 0px 15px 0px 15px;
  }
}
@media screen and (max-width: 837px) {
  .header__subsections {
    display: none;
  }
  .header__rom {
    display: none;
  }
  .header__img {
    margin-left: 100px;
  }
  .hamburger-menu {
    display: block;
  }
}
@media screen and (max-width: 466px) {
  .header__item-1 {
    display: none;
  }
  .header__clone {
    display: block;
  }
  .header__lupa {
    margin: 35px 40px 30px 65px;
  }
}
@media screen and (max-width: 1205px) {
  .header__info {
    font-size: 15px;
  }
}
@media screen and (max-width: 1109px) {
  .header__info {
    font-size: 12px;
  }
}
@media screen and (max-width: 993px) {
  .header__info {
    display: none;
  }
  .header__subsections {
    display: none;
  }
}
@media screen and (max-width: 448px) {
  .header__lupa {
    width: 18px;
  }
  .header__heart {
    width: 21px;
  }
  .header__shop {
    width: 21px;
  }
  .header__clone {
    margin-top: 9px;
  }
}
@media screen and (max-width: 320px) {
  .header__book {
    margin: 12px 0px 0px 0px;
  }
  .header__lupa {
    margin: 35px 40px 0px 40px;
  }
  .header__img {
    margin-left: 50px;
  }
}
.hero__title {
  margin-top: 97px;
  font-size: 36px;
  font-weight: 300;
}
.hero__description {
  max-width: 571px;
  height: 100px;
  margin-top: 67px;
  font-weight: 300;
  font-size: 16px;
  color: #525252;
  line-height: 25px;
}
.hero__description_2 {
  max-width: 696px;
  height: 125px;
  margin-top: 22px;
  font-weight: 300;
  font-size: 16px;
  color: #525252;
  line-height: 25px;
}
.hero__description_3 {
  max-width: 692px;
  height: 75px;
  margin-top: 20px;
  font-weight: 300;
  font-size: 16px;
  color: #525252;
  line-height: 25px;
}
.hero__content {
  display: flex;
}
.hero__information {
  display: flex;
  flex-wrap: wrap;
}
.hero__more {
  text-align: center;
  margin-top: 18px;
  font-weight: 300;
  font-size: 16px;
  color: #525252;
  line-height: 25px;
}
.hero__photo {
  margin-top: 51px;
  display: flex;
}
.hero__fix {
  margin-right: 11px;
}

@media screen and (max-width: 1160px) {
  .hero__title {
    text-align: center;
  }
  .hero__content {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .hero__information {
    justify-content: center;
  }
  .hero__women {
    width: 100%;
  }
  .hero__description_3 {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1206px) {
  .hero__photo {
    justify-content: center;
    flex-wrap: wrap;
  }
  .hero__fix {
    margin: 0px 0px 11px 0px;
  }
}
@media screen and (max-width: 568px) {
  .hero__description {
    margin-bottom: 40px;
  }
  .hero__fix {
    width: 100%;
  }
  .hero__fix_2 {
    width: 100%;
  }
}
@media screen and (max-width: 548px) {
  .hero__description_3 {
    margin-top: 60px;
  }
  .hero__img {
    margin-top: 40px;
  }
}
@media screen and (max-width: 425px) {
  .hero__description_3 {
    margin-top: 90px;
  }
  .hero__img {
    margin-top: 80px;
  }
}
@media screen and (max-width: 375px) {
  .hero__description_3 {
    margin-top: 140px;
  }
  .hero__img {
    margin-top: 80px;
  }
  .hero__description_2 {
    margin-top: 50px;
  }
}
@media screen and (max-width: 320px) {
  .hero__book {
    margin: 12px 0px 0px 0px;
  }
  .hero__description_3 {
    margin-top: 190px;
  }
  .hero__img {
    margin-top: 100px;
  }
  .hero__description_2 {
    margin-top: 140px;
  }
}
.footer__bg {
  background: #F5F5F5;
  width: 100%;
  height: auto;
  margin-top: 27px;
}
.footer__img {
  padding: 31px 0px 30px 0px;
  width: 155px;
  height: 84px;
}
.footer__row {
  display: flex;
}
.footer__list {
  text-align: center;
  display: flex;
  align-items: center;
  margin-left: 69px;
}
.footer__rom {
  display: flex;
  align-items: center;
}
.footer__item {
  margin: 0px 36px 0px 0px;
}
.footer__svg {
  margin-left: 63px;
}

@media screen and (max-width: 1770px) {
  .footer__item {
    font-size: 13px;
  }
}
@media screen and (max-width: 1087px) {
  .footer__item {
    font-size: 13px;
    margin-top: 13px;
  }
  .footer__row {
    display: block;
    text-align: center;
  }
  .footer__list {
    display: block;
    margin-left: 40px;
  }
  .footer__rom {
    justify-content: center;
    margin: 26px 63px 0px 0px;
    padding-bottom: 20px;
  }
  .footer__img {
    width: 100px;
    height: 54px;
  }
}/*# sourceMappingURL=index.css.map */